* {
    margin: 0;
    padding: 0;
 }
body *{
    font-family: "Outfit",sans-serif;
}

#Mobile{
    width: 320px;
    margin: 85px auto;
    padding: 85px 28px;
    background-color :#d5e1ef;  
}

#Rectangle{
    width: 320px;
    height: 497px;
    padding: 16px 0px;
    background-color: #fff; 
    border-radius: 20px;
}

#Rectangle img{
    display: flex;
    width: 288px;
    height: 288px;
    margin: auto;
    border-radius: 10px;
}

#Rectangle h3{
    width: 288px;
    height: 56px;
    font-size: 22px;
    color: #1f314f;
    font-weight: bold;
    text-align: center;
    margin: 24px 16px 0px;
}

#Rectangle p{
    width: 256px;
    height: 57px;
    font-size: 15px;
    letter-spacing: 0.19px;
    text-align: center;
    color: #7d889e;
    margin: 16px 32px 40px;
}
